.build-highlighter {
    @include text-style-h-4;
    color: var(--color-white);
    background-color: var(--color-black);
    --size: 2.08vw;

    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 4px;
}

.tablet,
.mobile {
    .build-highlighter {

        --size: 27px;
        font-size: 16px;
    }
}