.gallery-slider {
    margin-top: 40px !important;
    position: relative;
    height: calc(100vh - var(--header-h));
    padding-left: 0;
    padding-right: 0;
    .gallery-menu-item {
        transition: .25s ease-out;
    }
    &.pending {
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -30px;  
            margin-left: -30px;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: 5px solid grey;
            border-top-color: black;
            animation: loading 2s linear infinite;
            z-index: 40;
          }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background-color: white;
            width: 100%;
            height: 100%;
            animation: fadeIn .25s ease-out;
            z-index: 39;
          }
          @keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
          }
          @keyframes loading {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
    .swiper-slide {
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0, 26, 88, 0.6);
            /* filter: blur(5px); */
            backdrop-filter: blur(5px);
            pointer-events: none;
            -webkit-backdrop-filter: blur(5px);
        }
        img {
            object-fit: contain;
            height: 100%;
            position: relative;
            z-index: 2;
        }
    }
    &__menu {
        background-color: rgba($color-new-blue, 0.7);
        width: 100%;
        padding: 28px 6vw;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        z-index: 55;
    }
    &__navigation {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
        z-index: 2;
        padding: 0 5vw;
        &-prev {
            cursor: pointer;
            display: none;
        }
        &-next {
            cursor: pointer;
            position: fixed;
            transform-origin: center;
            transform-box: fill-box;
            &[data-side="rightSide"] {
                transform: rotate(180deg);

            }
        }
    }
    &__bottom {
        position: absolute;
        bottom: 3.1vh;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        @include size(2);
        z-index: 2;
        img {
            width: 100%;height: auto;
            margin-bottom: 20px;
            object-fit: contain;
            cursor: zoom-in;
        }
        img.zoomed {
            // position: fixed;
            // left: 50%;
            // top: 50%;
            // width: 85%;
            // height: 85%;
            // max-width: none;
        }
    }
    &__mobile-scroll-helper{
        display: none;
    }
}

.mobile {
    .gallery-slider {
        height: calc(100vh - var(--header-h));
        &__navigation {
            display: none;
        }
        &__mobile-scroll-helper {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 57;
            display: initial;
            width: 56px;
            height: auto;
            pointer-events: none;
        }
        &__menu {
            
            overflow-y: initial;
            overflow-x: auto;
            justify-content: flex-start;
            padding: 16px 6vw 12px 6vw;
            z-index: 56;
        }

        .gallery-menu-item {
            flex-shrink: 0;
            -webkit-tap-highlight-color: transparent; /* for removing the highlight */
            display: flex;
            align-items: center;
            justify-content: center;
            &:last-child {
                width: auto;
                display: flex;
                span {
                    display: none;
                }
            }
            &:hover {
                // border: 1px solid var(--color-white);
            }
            span {
                padding-top: 0;
                padding-bottom: 0;
            }
            &__inner {
                position: static;
                display: flex;
                opacity: 1;
                visibility: visible;
                &-item {
                    padding-top: 4px;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 4px;
                    background-color: transparent;
                }
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%,-50%) translateZ(1px);
            }
        }
    }
}

.gallery-menu-item{
    position: relative;
    cursor: pointer;
    &>span {
        padding: 9px 40px;
        display: block;
    }
    &__inner {
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: .25s ease-out;
        &-item {
            padding: 9px 40px;
            background-color: rgba($color-new-blue, 0.7);
            border: 1px solid var(--color-new-blue);
            white-space: nowrap;
            cursor: pointer;
            transition: .25s ease-out;
            &~& {
                border-top: none;
            }
            
        }
    }

    &:hover &__inner {
        opacity: 1;
        visibility: visible;
    }
}

.desktop {
    .gallery-menu-item {
        &:hover {
            color: var(--color-white);
            background-color: var(--color-new-blue);
        }
    }
}
.mobile {
    .gallery-menu-item {
        width: 40vw;
        font-size: 12px;
    }

}

.tablet,
.mobile {

    [data-cloned] {
        height: auto !important;
    }
    .gallery-slider {
        &__navigation {
            &-prev,
            &-next {
                width: 50px;
                height: 50px;
            }
        }
        &__menu {
            padding-left: 40px;
            padding-right: 40px;
        }
        &__bottom {
            @include size(8);
        }
        .swiper-slide {
            img {
                height: 100%;
                object-fit: cover;
                object-fit: contain;
            }
        }
    }
}