.main-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, rgba(29, 29, 27, 0.8) 0%, rgba(29, 29, 27, 0) 100%);
  &__block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    animation: main-block 2s forwards 2s;
    @media (max-width: 767.98px) {
      left: 24px;
    }
    @media (max-width: 520px) {
      left: 20px;
    }
    h1 {
      @media (max-width: 767.98px) {
        left: 24px;
      }
      @media (max-width: 359px) {
        width: 280px;
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }
}
.swiper-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.swiper-wrapper {
}
.swiper-slide {
  // .swiper-slide__img
  &__img {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}
.pagination-main {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;

  .swiper-pagination-bullet {
    opacity: 1;
    color: #fff;
    width: 150px;
    height: 25px;
    background-color: transparent;
    border-radius: 0;
    text-align: center;
    position: relative;
    font-family: Craftwork Grotesk;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    animation: main-anim 2s forwards 2s;
    @media (max-width: 1366px) {
      width: 104px;
    }
    @media (max-width: 420px) {
      width: 80px;
    }
    @media (max-width: 359px) {
      width: 60px;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #fff;
    }
    &-active {
      &::before {
        background-color: var(--bgColorRed);
      }
    }
  }
}

.button-main-down {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  color: var(--bgColor);
  animation: main-anim 2s forwards 2s;
  @media (any-hover: hover) {
    &:hover .arrow-down {
      background: var(--bgColorRed);
      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }
  @media (max-width: 1350px) {
    span {
      display: none;
    }
  }
  @media (max-width: 850px) {
    display: none;
  }
}
.arrow-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: var(--mainColor);
  transition: all 0.3s;
}
//========================================================================================================================================================
// about
.about-section {
  // .about-section__image
  &__image {
  }
  // .about-section__block
  &__block {
  }
  // .about-section__title
  &__title:not(:last-child) {
    margin-bottom: 16px;
  }
  // .about-section__text
  &__text {
  }
  // .about-section__button
  &__button {
  }
}

//========================================================================================================================================================
// description
.description-section {
  position: relative;
  height: 1260px;
  @media (max-width: 1366px) {
    height: 896px;
  }
  @media (max-width: 1100px) {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  // .description-section__image
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 700px;
      background: linear-gradient(180deg, #eef3f8 0%, rgba(238, 243, 248, 0) 100%);
    }
    @media (max-width: 1100px) {
      position: relative;
      height: auto;
      &::before {
        height: 280px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
  // .description-section__container
  &__container {
    padding: 150px 40px;
    display: flex;
    @media (max-width: 1366px) {
      padding: 100px 40px;
    }
    @media (max-width: 1100px) {
      background-color: var(--bgColor);
      flex-direction: column;
      padding: 80px 24px 20px 24px;
    }
    @media (max-width: 420px) {
      padding: 50px 20px 20px 20px;
    }
  }
  // .description-section__title
  &__title {
    flex: 0 1 50%;
    padding-right: 20px;
    margin-bottom: 40px;
    @media (max-width: 420px) {
      margin-bottom: 20px;
    }
    h2 {
      max-width: 415px;
      @media (max-width: 1100px) {
        max-width: 100%;
      }
    }
  }
  // .description-section__list
  &__list {
    flex: 0 1 50%;
  }
  // .description-section__block
  &__block {
  }
}

.description-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 24px;
  @media (max-width: 1366px) {
    font-size: 36px;
    row-gap: 16px;
  }
  @media (max-width: 420px) {
    column-gap: 12px;
  }
  // .description-list__item
  &__item {
    padding-bottom: 24px;
    &:not(:nth-last-child(-n + 2)) {
      border-bottom: 1px solid #c8bfbc;
    }
    @media (max-width: 1366px) {
      padding-bottom: 16px;
    }
  }
  // .description-list__amount
  &__amount {
    font-size: 48px;
    line-height: 1.3;
    margin-bottom: 8px;
    @media (max-width: 1366px) {
      font-size: 36px;
      margin-bottom: 4px;
    }
    @media (max-width: 420px) {
      font-size: 24px;
    }
    span {
      font-size: 20px;
      @media (max-width: 1366px) {
        font-size: 16px;
      }
      @media (max-width: 1366px) {
        font-size: 14px;
      }
    }
  }
  // .description-list__text
  &__text {
    font-size: 20px;
    line-height: 1.4;
    @media (max-width: 1366px) {
      font-size: 16px;
    }
    @media (max-width: 1366px) {
      font-size: 14px;
    }
  }
}
.description-block {
  position: absolute;
  top: 40%;
  left: 15%;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  background: var(--bgColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  z-index: 2;
  padding: 0;
  @media (max-width: 1366px) {
    width: 198px;
    height: 198px;
  }
  @media (max-width: 1100px) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  @media (max-width: 420px) {
    width: 170px;
    height: 170px;
  }
  &::after {
    content: '';
    position: absolute;
    width: 410px;
    height: 410px;
    top: center;
    left: center;
    border-radius: 50%;
    background-color: var(--bgColor);
    opacity: 0.5;
    z-index: -1;
    animation: descriptionPulse 2s infinite;
    @media (max-width: 1366px) {
      width: 280px;
      height: 280px;
    }
    @media (max-width: 420px) {
      width: 210px;
      height: 210px;
    }
  }
  // .description-block__year
  &__year {
    font-size: 48px;
    line-height: 1.3;
    @media (max-width: 1366px) {
      font-size: 36px;
    }
    @media (max-width: 420px) {
      font-size: 24px;
    }
    span {
      font-size: 20px;
      // @media (max-width: 420px) {
      //   font-size: 14px;
      // }
    }
  }
  // .description-block__text
  &__text {
    font-size: 20px;
    line-height: 1.4;
    @media (max-width: 1366px) {
      font-size: 16px;
    }
    @media (max-width: 420px) {
      font-size: 14px;
    }
  }
}

//========================================================================================================================================================
// choose
.choose-section {
  display: flex;
  height: 970px;
  padding-top: 20px;
  background-color: var(--bgColor);
  #page-contacts &{
    padding-bottom: 20px;
  }
  @media (max-width: 1366px) {
    height: 687px;
  }
  @media (max-width: 1000px) {
    height: 963px;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  @media (max-width: 520px) {
    height: 518px;
    padding: 4px;
    gap: 4px;
  }
  // .choose-section__first-block
  &__first-block {
  }
  // .choose-section__second-block
  &__second-block {
    flex: 0 1 27%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
    @media (max-width: 1000px) {
      flex-direction: row;
      margin-right: 0;
      gap: 10px;
      height: 265px;
    }
    @media (max-width: 520px) {
      height: 144px;
      gap: 4px;
    }
  }
  // .choose-section__image
  &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.first-block {
  flex: 0 1 73%;
  position: relative;
  margin-right: 20px;
  @media (max-width: 1000px) {
    margin-right: 0;
  }
  // .first-block__image
  &__image {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
  // .first-block__block
  &__block {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    z-index: 2;
    @media (max-width: 520px) {
      left: 16px;
    }
  }
  &__title {
    @media (max-width: 350px) {
      width: 280px;
    }
  }
}
//========================================================================================================================================================
// building
.building-section {
  // .building-section__image
  &__image {
  }
  // .building-section__block
  &__block {
  }
  // .building-section__block-inner
  &__block-inner {
    .block-inner__image {
      width: 100%;
      height: 314px;
      @media (max-width: 1366px) {
        height: 217px;
      }
      @media (max-width: 1100px) {
        height: 377px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      margin-bottom: 12px;
    }
  }
  // .building-section__title
  &__title {
    margin-bottom: 12px;
  }
  // .building-section__date
  &__date {
    color: var(--textColor);
    margin-bottom: 12px;
  }
  // .building-section__text
  &__text {
  }
}
//========================================================================================================================================================
// contacts
.section-contacts {
  background-color: var(--bgColor);
  // .section-contacts__container
  &__container {
    padding: 150px 40px;
    @media (max-width: 1366px) {
      padding: 100px 40px;
    }
    @media (max-width: 1100px) {
      padding: 80px 24px;
    }
    @media (max-width: 520px) {
      padding: 50px 20px;
    }
    &.page-contacts{
      padding: 40px 40px 20px 40px;
    }
  }
  // .section-contacts__block
  &__block {
    display: flex;
    gap: 20px;
    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }
  // .section-contacts__inner
  &__inner {
    flex: 0 1 50%;
    display: flex;
    gap: 40px;
    @media (max-width: 520px) {
      flex-direction: column;
      gap: 32px;
    }
  }
  // .section-contacts__left
  &__left {
    flex: 0 1 50%;
  }
  // .section-contacts__group
  &__group {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  // .section-contacts__subtitle
  &__subtitle {
    font-size: 16px;
    line-height: 1.4;
    color: var(--textColor);
    margin-bottom: 8px;
    @media (max-width: 1366px) {
      font-size: 14px;
    }
    @media (max-width: 520px) {
      font-size: 12px;
    }
  }
  // .section-contacts__text
  &__text {
    display: block;
    font-size: 24px;
    line-height: 1.2;
    text-decoration-line: underline;
    @media (max-width: 1366px) {
      font-size: 20px;
    }
    @media (max-width: 1366px) {
      font-size: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  // .section-contacts__button
  &__button {
    margin-top: 20px;
  }
  // .section-contacts__social
  &__social {
    display: flex;
    gap: 20px;
  }
  // .section-contacts__right
  &__right {
    flex: 0 1 50%;
  }
  // .section-contacts__map
  &__map {
    flex: 0 1 50%;
    .map__body {
      width: 100%;
      height: 460px;
      @media (max-width: 1366px) {
        height: 400px;
      }
      @media (max-width: 1100px) {
        height: 455px;
      }
      @media (max-width: 520px) {
        height: 360px;
      }
    }
  }
}



//========================================================================================================================================================
// animation
@keyframes main-block {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes main-anim {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes descriptionPulse {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}
