.progress-single-section {
  padding-top: 40px;
  background-color: var(--bgColor);
  padding-bottom: 150px;
  @media (max-width: 1366px) {
    padding-bottom: 100px;
  }
  @media (max-width: 520px) {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  // .progress-single-section__container
  &__container {
    margin: auto 40px;
    position: relative;
    display: grid;
    justify-content: center;
    @media (max-width: 768px) {
      margin: auto 24px;
    }
    @media (max-width: 520px) {
      margin: auto 20px;
    }
  }
  // .progress-single-section__button
  &__button {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    @media (any-hover: hover) {
      &:hover &-arow {
        background-color: var(--bgColorRed);
        svg {
          path {
            stroke: #fff;
          }
        }
      }
      &:hover &-text {
        color: var(--bgColorRed);
      }
    }
  }
  // .progress-single-section__button-arow
  &__button-arow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s;
    @media (max-width: 768px) {
      width: 56px;
      height: 56px;
    }
    @media (max-width: 520px) {
      width: 48px;
      height: 48px;
    }
  }
  // .progress-single-section__button-text
  &__button-text {
    transition: all 0.3s;
  }
  // .progress-single-section__block
  &__block {
  }
}
.progress-single-block {
  max-width: 1375px;
  padding: 0 100px;
  @media (max-width: 1000px) {
    padding: 0 0 0 100px;
  }
  @media (max-width: 520px) {
    padding: 0 0 0 60px;
  }
  p {
    color: var(--mainColor);
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  ul {
    color: var(--mainColor);
    margin-bottom: 20px;
  }
  li {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0px;
  }
  // .progress-single-block_text
  &_text {
  }
}
.progress-single-gallery {
  // .gallery-section__container
  &__container {
    margin-top: 60px;
    position: relative;
    margin-bottom: 60px;
    @media (max-width: 520px) {
      margin-top: 20px;
    }
    & .swiper-gallery {
    }
    & .swiper-wrapper {
      height: 720px;
      @media (max-width: 1366px) {
        height: 502px;
      }
      @media (max-width: 1000px) {
        height: 328px;
      }
      @media (max-width: 520px) {
        height: 200px;
      }
    }
    & .swiper-slide {
      height: 100%;
      width: auto;
      // .swiper-slide__img
      &__img img {
        height: 100%;
        width: auto;
      }
    }
  }
}

.progress-single {
  // .progress-single__arrow
  &__arrow {
    background-color: var(--bgColorRed);
  }
  // .progress-single__video
  &__video {
    width: 100%;
    height: 743px;
    position: relative;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 1366px) {
      height: 518px;
    }
    @media (max-width: 1000px) {
      height: 339px;
    }
    @media (max-width: 520px) {
      height: 143px;
    }
  }
  // .progress-single__video-button
  &__video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--bgColorRed);
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
    @media (max-width: 1366px) {
      width: 110px;
      height: 110px;
      svg {
        width: 22px;
      }
    }
    @media (max-width: 768px) {
      width: 72px;
      height: 72px;
      svg {
        width: 15px;
      }
    }
  }
}
.last-progress-section {
  background-color: var(--bgColor);
  @media (max-width: 768px) {
    padding-bottom: 100px;
  }
  @media (max-width: 520px) {
    padding-bottom: 60px;
  }
  &__container {
    margin: auto 40px;
  }
  // .last-progress-section__block
  &__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
.progress-section {
  // .progress-section__article
  &__article {
  }
}
