section.choose-section
	.choose-section__first-block.first-block
		.first-block__image
			img(src="./assets/images/home/home_comfort_1.jpg")
		.first-block__block
			h2.first-block__title.title.title_white Розпочніть новий рівень комфорту з вибором правильної квартири
			a.button.button_red(href="#") Обрати квартиру
	.choose-section__second-block
		.choose-section__image
			img(src="./assets/images/home/home_comfort_2.jpg")
		.choose-section__image
			img(src="./assets/images/home/home_comfort_3.jpg")