section.description-section
	.description-section__image
		img(src="./assets/images/home/home_haracter.jpg")
		.description-section__block.description-block
			.description-block__year 2027<span>рік</span>
			.description-block__text Закінчення <br> будівництва
	.description-section__container
		.description-section__title.title 
			h2 Характеристики комплексу
		.description-section__list.description-list
			.description-list__item
				.description-list__amount 1,9<span>га</span> 
				.description-list__text Загальна площа території
			.description-list__item
				.description-list__amount.count 648
				.description-list__text Кількість квартир
			.description-list__item
				.description-list__amount.count 8
				.description-list__text Кількість секцій
			.description-list__item
				.description-list__amount.count 130
				.description-list__text Гаражні бокси
			.description-list__item
				.description-list__amount.count 10
				.description-list__text Поверховість
			.description-list__item
				.description-list__amount.count 88
				.description-list__text Паркомісць