<nav class="menu" id="menu">
    .menu__body.menu-body
        div.menu-body__menu
            ul.menu-body__list
                li.menu-body__item
                    a.menu-body__link(href="/" data-title="Головна") Головна
                li.menu-body__item
                    a.menu-body__link(href="" data-menu-close data-title="Про проект") Про проект
                li.menu-body__item
                    a.menu-body__link(href="" data-menu-close data-title="Обрати квартиру") Обрати квартиру
                li.menu-body__item
                    a.menu-body__link(href="" data-menu-close data-title="Галерея") Галерея
                li.menu-body__item
                    a.menu-body__link(href="" data-menu-close data-title="Забудовник") Забудовник
                li.menu-body__item
                    a.menu-body__link(href="" data-menu-close data-title="Хід будівництва") Хід будівництва
                li.menu-body__item
                    a.menu-body__link(href="contacts.html" data-menu-close data-title="Контакти") Контакти
        div.menu-body__contact.contact-body-menu
            div.contact-body-menu__image
                img(src="./assets/images/menu/menu.jpg" alt="image")
            div.contact-body-menu__contacts
                ul.contact-body-menu__list
                    li.contact-body-menu__item
                        a.contact-body-menu__link(href="#" data-menu-close) +38 (098) 205 05 04
                    li.contact-body-menu__item
                        a.contact-body-menu__link(href="#" data-menu-close) +38 (093) 835 56 00
                    li.contact-body-menu__item
                        a.contact-body-menu__link(href="#" data-menu-close) pasterivsky@gmail.com
                    li.contact-body-menu__item
                        a.contact-body-menu__link.no-pointer(href="#") місто Черкаси, вулиця Олександра Маламужа, 31
                    li.contact-body-menu__item
                        a.contact-body-menu__link(href="#" data-menu-close) instagram
                    li.contact-body-menu__item
                        a.contact-body-menu__link(href="#" data-menu-close) facebook
        <button class="action header__button" data-menu-closet>
            span Закрити
            .burger__close
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.99902 6L10.9488 10.9497L17.3127 17.3137" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M17.3127 5.68629L12.363 10.636L5.99902 17" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
        </button>
</nav>