.mobile-callback(data-mobile-callback-popup)
	.mobile-callback__block
		a.button.button_red(href="tel:+380969956364") Виклик +38 (096) 995-63-64
		button.button(type="button" data-call-form data-close-mobile-callback) ЗАПИСАТИСЯ НА ПЕРЕГЛЯД
		button.mobile-callback-close(data-close-form)
		.mobile-callback__close(data-close-mobile-callback)
			<svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
				<path d="M13.5 13L1.5 1M1.5 13L13.5 1L1.5 13Z" stroke="#262A40" stroke-width="2"/>
			</svg>
			span Відмінити
