.thank-wrapper
	//- button.form-close.thank-close(data-close-form)
	//- 	span Закрити
	//- 	.burger__close
	//- 		<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
	//- 			<path d="M5.99902 6L10.9488 10.9497L17.3127 17.3137" stroke="white" stroke-width="1.5" stroke-linecap="round"/>					<path d="M17.3127 5.68629L12.363 10.636L5.99902 17" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
	//- 		</svg>
	.thank-block
		.thank-block__img
			<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70" fill="none">
				<path d="M65.748 32.1043C65.8366 33.0575 65.8819 34.0232 65.8819 34.9995C65.8819 52.0554 52.0554 65.8819 34.9995 65.8819C17.9437 65.8819 4.11719 52.0554 4.11719 34.9995C4.11719 17.9437 17.9437 4.11719 34.9995 4.11719C39.8448 4.11719 44.4295 5.23303 48.5106 7.22176" stroke="#D4584D" stroke-width="4" stroke-linecap="round"/>
				<path d="M25.7363 31.9112L35.001 41.1759L66.9128 9.26416" stroke="#D4584D" stroke-width="4" stroke-linecap="round"/>
			</svg>
		.thank-block__title.title Повідомлення надіслано
		.thank-block__text.text Дякуємо за звернення. Очікуйте дзвінка наших менеджерів. Бажаємо гарного дня та гарного настрою =)
		button.button.thank-block__button.thank-close(type="button") Закрити