extends ../layout/main
block variable
  -
    var title_page = 'Kонтакти'
    var id_page = 'page-contacts'
    var class_page = 'page-contacts'

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOyQooAgmO65K7PSjfcaLvevumuxVvOwM&callback=initMap&libraries=&v=weekly")
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/contacts.bundle.js')
block content
  include ../includes/breadcrumbs.pug
  section.section-contacts
    .section-contacts__container.page-contacts
      .section-contacts__block
        .section-contacts__inner
          .section-contacts__left
            .section-contacts__group
              h4.section-contacts__subtitle Наша адреса:
              .section-contacts__text місто Черкаси, вулиця Олександра Маламужа, 31
              a.section-contacts__button.button(href="https://www.google.com/maps?q=49.4202383475472,32.056724459561345") Прокласти маршрут
            .section-contacts__group
              h4.section-contacts__subtitle Соц мережі:
              .section-contacts__social
                a.section-contacts__text(target='_blank' href="https://instagram.com/") Instagram
                a.section-contacts__text(target='_blank' href="https://facebook.com") Facebook
          .section-contacts__right
            .section-contacts__group
              h4.section-contacts__subtitle Відділ інвестицій:
              a.section-contacts__text(href="tel:+380982050504") +38 (098) 205 05 04
              a.section-contacts__text(href="tel:+380938355600") +38 (093) 835 56 00
            .section-contacts__group
              h4.section-contacts__subtitle E-mail:
              a.section-contacts__text(href="mailto:pasterivsky@gmail.com") pasterivsky@gmail.com
        .section-contacts__map
          <div id="map" class="map__body"></div>

  include ../includes/choose-section.pug  

block footer
  include ../includes/footer.pug

block header
  include ../includes/header-white.pug
