
extends ../layout/main
block variable
  -
    var title_page = 'gallery'
    var id_page = 'id-page-gallery'
    var class_page = 'class-page-gallery'
    var header_class = 'header--dark'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/gallery.bundle.js')
block content
  .container.complex-front-screen
    include ../includes/breadcrumbs.pug
    .text-style-h-1.text-new-blue.text-uppercase Галерея
  .container.gallery-slider.swiper-container(data-gallery-slider)
    .gallery-slider__navigation
      <svg class="gallery-slider__navigation-prev" width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="49.5" stroke="white"/>
        <circle cx="50" cy="50" r="46" fill="white"/>
        <rect x="67" y="50.5" width="30" height="1" transform="rotate(-180 67 50.5)" fill="#001A58"/>
        <path d="M37.3495 50.2122L39.9685 55.7995C40.1992 56.2916 39.5898 56.7465 39.1836 56.3854L32.4204 50.3737C32.1967 50.1748 32.1967 49.8252 32.4204 49.6263L39.1836 43.6146C39.5898 43.2535 40.1992 43.7084 39.9685 44.2005L37.3495 49.7878C37.2865 49.9222 37.2864 50.0778 37.3495 50.2122Z" fill="#001A58"/>
        </svg>
      <svg class="gallery-slider__navigation-next" width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="49.5" stroke="white"/>
        <circle cx="50" cy="50" r="46" fill="white"/>
        <rect x="67" y="50.5" width="30" height="1" transform="rotate(-180 67 50.5)" fill="#001A58"/>
        <path d="M37.3495 50.2122L39.9685 55.7995C40.1992 56.2916 39.5898 56.7465 39.1836 56.3854L32.4204 50.3737C32.1967 50.1748 32.1967 49.8252 32.4204 49.6263L39.1836 43.6146C39.5898 43.2535 40.1992 43.7084 39.9685 44.2005L37.3495 49.7878C37.2865 49.9222 37.2864 50.0778 37.3495 50.2122Z" fill="#001A58"/>
        </svg>

    <svg class="gallery-slider__mobile-scroll-helper" width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0H47V47H0V0Z" fill="url(#paint0_linear_768_15364)"/>
      <path d="M31.6982 23.4105C31.3318 23.4105 30.9904 23.522 30.7069 23.7119C30.4626 23.0183 29.8002 22.519 29.0238 22.519C28.6573 22.519 28.3159 22.6305 28.0324 22.8204C27.7881 22.1268 27.1257 21.6275 26.3493 21.6275C26.0248 21.6275 25.7199 21.7149 25.4578 21.8674V18.9531C25.4578 17.9697 24.6581 17.17 23.6748 17.17C22.6914 17.17 21.8918 17.9697 21.8918 18.9531V26.5308L20.3424 25.3692C19.4241 24.68 18.1172 24.7719 17.3033 25.5849C16.7817 26.1064 16.7817 26.9543 17.3033 27.4758L23.6516 33.825C24.4094 34.5828 25.4177 35 26.4893 35H28.578C31.2811 35 33.4813 32.8007 33.4813 30.0968V25.1935C33.4813 24.2102 32.6816 23.4105 31.6982 23.4105ZM32.5898 30.0967C32.5898 32.3085 30.7898 34.1085 28.578 34.1085H26.4893C25.6548 34.1085 24.8712 33.784 24.2819 33.1947L17.9336 26.8455C17.7597 26.6716 17.7597 26.389 17.9336 26.2152C18.2099 25.9397 18.579 25.798 18.9499 25.798C19.2512 25.798 19.5543 25.8916 19.8084 26.0823L22.0701 27.7788C22.2056 27.8805 22.3875 27.8956 22.5373 27.8207C22.6879 27.745 22.7833 27.5907 22.7833 27.4222V18.9531C22.7833 18.4618 23.1827 18.0616 23.6748 18.0616C24.1669 18.0616 24.5663 18.4619 24.5663 18.9531V25.6393C24.5663 25.8853 24.766 26.085 25.0121 26.085C25.2581 26.085 25.4578 25.8853 25.4578 25.6393V23.4106C25.4578 22.9193 25.8572 22.5191 26.3493 22.5191C26.8414 22.5191 27.2408 22.9194 27.2408 23.4106V25.6393C27.2408 25.8853 27.4405 26.085 27.6865 26.085C27.9326 26.085 28.1323 25.8853 28.1323 25.6393V24.302C28.1323 23.8108 28.5317 23.4106 29.0238 23.4106C29.5159 23.4106 29.9153 23.8108 29.9153 24.302V25.6393C29.9153 25.8853 30.115 26.085 30.361 26.085C30.6071 26.085 30.8068 25.8853 30.8068 25.6393V25.1935C30.8068 24.7023 31.2062 24.302 31.6983 24.302C32.1904 24.302 32.5898 24.7023 32.5898 25.1935V30.0967Z" fill="white"/>
      <path d="M15 13.3284L13.1863 15.1716M13.1863 15.1716L15 17.3284M13.1863 15.1716L19.5 15.1716" stroke="white"/>
      <path d="M32 17.1716L33.8137 15.3284M33.8137 15.3284L32 13.1716M33.8137 15.3284L27.5 15.3284" stroke="white"/>
      <defs>
      <linearGradient id="paint0_linear_768_15364" x1="47" y1="23.5" x2="-4.96252e-07" y2="23.5" gradientUnits="userSpaceOnUse">
      <stop stop-color="#001A58"/>
      <stop offset="1" stop-color="#001A58" stop-opacity="0"/>
      </linearGradient>
      </defs>
      </svg>
    .gallery-slider__menu
      div.gallery-menu-item.text-white(data-gallery-id="1") 
        span Комплекс
      div.gallery-menu-item.text-white(data-gallery-id="2") 
        span Під’їзд
      div.gallery-menu-item.text-white(data-gallery-id="3") 
        span Парк
      div.gallery-menu-item.text-white
        span Квартири
        ul.gallery-menu-item__inner
          li.gallery-menu-item__inner-item(data-gallery-id="5") Point A
          li.gallery-menu-item__inner-item(data-gallery-id="6") Point B
          li.gallery-menu-item__inner-item(data-gallery-id="7") Point C
          li.gallery-menu-item__inner-item(data-gallery-id="8") Point D
          li.gallery-menu-item__inner-item(data-gallery-id="9") Point E
    .gallery-slider__bottom
      img(src="./assets/images/gallery/flat.png" data-gallery-mini-image)
      a.button-30.button-30--blue(href="3d" type="button") обрати квартиру
    .swiper-wrapper
      .swiper-slide
        img(src="./assets/images/home/home-page-screen1.jpg" class="swiper-lazy" loading="lazy")
        .swiper-lazy-preloader
      .swiper-slide
        img(src="./assets/images/home/home-page-screen1.jpg" class="swiper-lazy" loading="lazy")
        .swiper-lazy-preloader
      .swiper-slide
        img(src="./assets/images/home/home-page-screen1.jpg" class="swiper-lazy" loading="lazy")
        .swiper-lazy-preloader
      .swiper-slide
        img(src="./assets/images/home/home-page-screen1.jpg" class="swiper-lazy" loading="lazy")
        .swiper-lazy-preloader
  include ../includes/contact-screen.pug
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
