
extends ../layout/main
block variable
  -
    var title_page = 'Хід будівництва'
    var id_page = 'id-page-progress'
    var class_page = 'class-page-progress'
    //- var breadcrumbsSubitem = [
    //- ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/progress.bundle.js')

block content
  include ../includes/breadcrumbs.pug
  
  section.progress-header-section
    .progress-header-section__container
      .progress-header-section__title.title-small Після отримання всіх необхідних дозвільних документів, ми вже розпочали підготовчі роботи на місці майбутнього житлового комплексу. Цей етап охоплює:
    .progress-header-section__block
      .progress-header-section__item
        .progress-header-section__number 01.
        .progress-header-section__inner.inner-progress
          .inner-progress__title.title-small Земельні роботи
          .inner-progress__text Виконання земельних робіт для створення надійного фундаменту та забезпечення оптимальних умов для подальшого будівництва
      .progress-header-section__item
        .progress-header-section__number 02.
        .progress-header-section__inner.inner-progress
          .inner-progress__title.title-small Безпекові заходи
          .inner-progress__text Встановлення огорож, забезпечення зони будівництва від стороннього втручання та впровадження заходів безпеки для робітників
      .progress-header-section__item
        .progress-header-section__number 03.
        .progress-header-section__inner.inner-progress
          .inner-progress__title.title-small Акумуляція ресурсів
          .inner-progress__text Забезпечення на території необхідного обладнання та матеріалів для будівництва
      .progress-header-section__item
        .progress-header-section__number 04.
        .progress-header-section__inner.inner-progress
          .inner-progress__title.title-small Підготовка інфраструктури
          .inner-progress__text Прокладання комунікацій, підготовка фундаменту, зони відпочинку та інші елементи інфраструктури
    .progress-header-section__container
      .progress-header-section__title.progress-header-section__title-bottom.title-small Ми приділяємо особливу увагу якості підготовчих робіт, оскільки вони становлять основу для створення надійних, безпечних та довговічних будинків.
  section.progress-section
    .progress-section__container
      .progress-section__article.progress-article
        a.progress-article__link(href="progress-single.html")
        .progress-article__block
          .progress-article__date.text 25 Вересень 2023
          .progress-article__image.section__image
            img(src="./assets/images/progress/progress_01.jpg")
          .progress-article__text.text Після отримання всіх необхідних дозвільних документів, ми вже розпочали підготовчі роботи на місці майбутнього житлового комплексу.
          a.progress-article__button.button.button_red(href="progress-single.html") ДИВИТИСЯ ЗВІТ
      .progress-section__article.progress-article
        a.progress-article__link(href="progress-single.html")
        .progress-article__block
          .progress-article__date.text 25 Вересень 2023
          .progress-article__image.section__image
            img(src="./assets/images/progress/progress_01.jpg")
          .progress-article__text.text Після отримання всіх необхідних дозвільних документів, ми вже розпочали підготовчі роботи на місці майбутнього житлового комплексу.
          a.progress-article__button.button.button_red(href="progress-single.html") ДИВИТИСЯ ЗВІТ
      .progress-section__article.progress-article
        a.progress-article__link(href="progress-single.html")
        .progress-article__block
          .progress-article__date.text 25 Вересень 2023
          .progress-article__image.section__image
            img(src="./assets/images/progress/progress_01.jpg")
          .progress-article__text.text Після отримання всіх необхідних дозвільних документів, ми вже розпочали підготовчі роботи на місці майбутнього житлового комплексу.
          a.progress-article__button.button.button_red(href="progress-single.html") ДИВИТИСЯ ЗВІТ
      .progress-section__article.progress-article
        a.progress-article__link(href="progress-single.html")
        .progress-article__block
          .progress-article__date.text 25 Вересень 2023
          .progress-article__image.section__image
            img(src="./assets/images/progress/progress_01.jpg")
          .progress-article__text.text Після отримання всіх необхідних дозвільних документів, ми вже розпочали підготовчі роботи на місці майбутнього житлового комплексу.
          a.progress-article__button.button.button_red(href="progress-single.html") ДИВИТИСЯ ЗВІТ
      .progress-section__article.progress-article
        a.progress-article__link(href="progress-single.html")
        .progress-article__block
          .progress-article__date.text 25 Вересень 2023
          .progress-article__image.section__image
            img(src="./assets/images/progress/progress_01.jpg")
          .progress-article__text.text Після отримання всіх необхідних дозвільних документів, ми вже розпочали підготовчі роботи на місці майбутнього житлового комплексу.
          a.progress-article__button.button.button_red(href="progress-single.html") ДИВИТИСЯ ЗВІТ
      .progress-section__article.progress-article
        a.progress-article__link(href="progress-single.html")
        .progress-article__block
          .progress-article__date.text 25 Вересень 2023
          .progress-article__image.section__image
            img(src="./assets/images/progress/progress_01.jpg")
          .progress-article__text.text Після отримання всіх необхідних дозвільних документів, ми вже розпочали підготовчі роботи на місці майбутнього житлового комплексу.
          a.progress-article__button.button.button_red(href="progress-single.html") ДИВИТИСЯ ЗВІТ
      .progress-section__article.progress-article
        a.progress-article__link(href="progress-single.html")
        .progress-article__block
          .progress-article__date.text 25 Вересень 2023
          .progress-article__image.section__image
            img(src="./assets/images/progress/progress_01.jpg")
          .progress-article__text.text Після отримання всіх необхідних дозвільних документів, ми вже розпочали підготовчі роботи на місці майбутнього житлового комплексу.
          a.progress-article__button.button.button_red(href="progress-single.html") ДИВИТИСЯ ЗВІТ
      .progress-section__article.progress-article
        a.progress-article__link(href="progress-single.html")
        .progress-article__block
          .progress-article__date.text 25 Вересень 2023
          .progress-article__image.section__image
            img(src="./assets/images/progress/progress_01.jpg")
          .progress-article__text.text Після отримання всіх необхідних дозвільних документів, ми вже розпочали підготовчі роботи на місці майбутнього житлового комплексу.
          a.progress-article__button.button.button_red(href="progress-single.html") ДИВИТИСЯ ЗВІТ
      .progress-section__article.progress-article
        a.progress-article__link(href="progress-single.html")
        .progress-article__block
          .progress-article__date.text 25 Вересень 2023
          .progress-article__image.section__image
            img(src="./assets/images/progress/progress_01.jpg")
          .progress-article__text.text Після отримання всіх необхідних дозвільних документів, ми вже розпочали підготовчі роботи на місці майбутнього житлового комплексу.
          a.progress-article__button.button.button_red(href="progress-single.html") ДИВИТИСЯ ЗВІТ
      .progress-section__article.progress-article
        a.progress-article__link(href="progress-single.html")
        .progress-article__block
          .progress-article__date.text 25 Вересень 2023
          .progress-article__image.section__image
            img(src="./assets/images/progress/progress_01.jpg")
          .progress-article__text.text Після отримання всіх необхідних дозвільних документів, ми вже розпочали підготовчі роботи на місці майбутнього житлового комплексу.
          a.progress-article__button.button.button_red(href="progress-single.html") ДИВИТИСЯ ЗВІТ
    .progress-section__pagination.progress-pagination
      a.progress-pagination__item.prev.not-active(href="#") 
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
          <g opacity="1">
            <path d="M39 30L21.0003 30M21.0003 30L30.0002 21.0002M21.0003 30L30.0002 38.9998" stroke="#262A40" stroke-width="2"/>
          </g>
        </svg>
      a.progress-pagination__item.page.active(href="#") 1
      a.progress-pagination__item.page(href="#") 2
      a.progress-pagination__item.page(href="#") 3
      span.progress-pagination__item.block ... 
      a.progress-pagination__item.page(href="#") 10
      a.progress-pagination__item.next(href="#")
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
          <path d="M21 30L38.9997 30M38.9997 30L29.9998 21.0002M38.9997 30L29.9998 38.9998" stroke="#262A40" stroke-width="2"/>
        </svg>

   
block footer
  include ../includes/footer.pug

block header
  include ../includes/header-white.pug
