
extends ../layout/main
block variable
  -
    var title_page = 'Хід будівництва'
    var id_page = 'id-page-progress'
    var class_page = 'class-page-progress'
    var breadcrumbsSubitem = [
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer scr='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/progress.bundle.js')

block content
  include ../includes/breadcrumbs.pug
  
  section

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
