
extends ../layout/main
block variable
  -
    var title_page = '25 Вересень 2023'
    var id_page = 'id-page-progress-single'
    var class_page = 'class-page-progress-single'
    var breadcrumbsSubitem = [
      {
        label: 'Хід будівництва',
        link: "progress.html"
      }
    ]

block meta
  title= title_page
  meta(name='description' content='')
block head
  link(rel='stylesheet' href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/progressSingle.bundle.js')
block content
  include ../includes/breadcrumbs.pug

  section.progress-single-section
    .progress-single-section__container
      a.progress-single-section__button(data-go-back-button)
        .progress-single-section__button-arow
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M20 10H2.00031M2.00031 10L11.0002 18.9998M2.00031 10L11.0002 1.00016" stroke="#262A40" stroke-width="2"/>
          </svg>
        .progress-single-section__button-text.text Назад
      .progress-single-section__block.progress-single-block
        .progress-single-block_text.text
          p На сьогодні вже введені в експлуатацію, приймають гостей та приносять власникам пасивний дохід перші два будинки апарт-готелю.
          ul Зараз тривають роботи над зведенням третього будинку:
            li Монолітний каркас вже залили на 80 відсотків.
            li Зовнішні стіни виконали на 50%.
            li Внутрішні стіни та перегородки влаштували на 15%
            li Сходові марші та майданчики залиті до рівня восьмого поверху.
            li В будинку розпочали влаштування металопластикових вікон.
          p Завдяки злагодженій та організованій роботі будівництво йде швидкими темпами, графік запланованих будівельних робіт суттєво випереджено.
          .progress-single-gallery-section
            .progress-single-gallery__container
              .swiper-progress-single.swiper
                .swiper-wrapper
                  .swiper-slide 
                    .swiper-slide__img 
                      img(src="./assets/images/progress-single/progress-single_1.jpg")
                  .swiper-slide 
                    .swiper-slide__img 
                      img(src="./assets/images/progress-single/progress-single_2.jpg")
                  .swiper-slide 
                    .swiper-slide__img 
                      img(src="./assets/images/progress-single/progress-single_3.jpg")
                  .swiper-slide 
                    .swiper-slide__img 
                      img(src="./assets/images/progress-single/progress-single_4.jpg")
              .swiper-navigation
                .swiper-navigation__arow.swiper-navigation__arow-left.progress-single__arrow
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
                    <path d="M16.6362 9L1.36377 9M1.36377 9L9 1.36377M1.36377 9L9 16.6362" stroke="white" stroke-width="1.5"/>
                  </svg>
                .swiper-navigation__arow.swiper-navigation__arow-right.progress-single__arrow
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M0 10L17.9997 10M17.9997 10L8.99984 1.00016M17.9997 10L8.99984 18.9998" stroke="white" stroke-width="1.5"/>
                  </svg>
          
          p Відеозвіт з будівництва
          .progress-single__video
            video(class="video" id="video" loop preload="auto" muted width="100%" height="100%" playsinline) 
              <source src="/assets/images/progress-single/video.mp4" type="video/mp4">
            .progress-single__video-button
              <svg xmlns="http://www.w3.org/2000/svg" width="39" height="48" viewBox="0 0 39 48" fill="none">
                <path d="M37.2864 22.304L3.06 0.912499C1.7279 0.0799387 0 1.03762 0 2.60849V45.3915C0 46.9624 1.7279 47.9201 3.06 47.0875L37.2864 25.696C38.5397 24.9127 38.5397 23.0873 37.2864 22.304Z" fill="#C8BFBC"/>
              </svg>
  section.last-progress-section
    .last-progress-section__container
      .last-progress-section__title.title Останні звіти
    .last-progress-section__block
      .progress-section__article.progress-article
        a.progress-article__link(href="progress-single.html")
        .progress-article__block
          .progress-article__date.text 25 Вересень 2023
          .progress-article__image.section__image
            img(src="./assets/images/progress/progress_01.jpg")
          .progress-article__text.text Після отримання всіх необхідних дозвільних документів, ми вже розпочали підготовчі роботи на місці майбутнього житлового комплексу.
          a.progress-article__button.button.button_red(href="progress-single.html") ДИВИТИСЯ ЗВІТ
      .progress-section__article.progress-article
        a.progress-article__link(href="progress-single.html")
        .progress-article__block
          .progress-article__date.text 25 Вересень 2023
          .progress-article__image.section__image
            img(src="./assets/images/progress/progress_01.jpg")
          .progress-article__text.text Після отримання всіх необхідних дозвільних документів, ми вже розпочали підготовчі роботи на місці майбутнього житлового комплексу.
          a.progress-article__button.button.button_red(href="progress-single.html") ДИВИТИСЯ ЗВІТ

block footer
  include ../includes/footer.pug

block header
  include ../includes/header-white.pug
