//========================================================================================================================================================
// choose
.choose-section {
  display: flex;
  height: 970px;
  padding-top: 20px;
  background-color: var(--bgColor);
  padding-bottom: 20px;
  #index-page & {
    padding-bottom: 0px;
  }
  @media (max-width: 1366px) {
    height: 687px;
  }
  @media (max-width: 1000px) {
    height: 963px;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  @media (max-width: 520px) {
    height: 518px;
    padding: 4px;
    gap: 4px;
  }
  // .choose-section__first-block
  &__first-block {
  }
  // .choose-section__second-block
  &__second-block {
    flex: 0 1 27%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
    @media (max-width: 1000px) {
      flex-direction: row;
      margin-right: 0;
      gap: 10px;
      height: 265px;
    }
    @media (max-width: 520px) {
      height: 144px;
      gap: 4px;
    }
  }
  // .choose-section__image
  &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.first-block {
  flex: 0 1 73%;
  position: relative;
  margin-right: 20px;
  @media (max-width: 1000px) {
    margin-right: 0;
  }
  // .first-block__image
  &__image {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
  // .first-block__block
  &__block {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    z-index: 2;
    @media (max-width: 520px) {
      left: 16px;
    }
  }
  &__title {
    @media (max-width: 350px) {
      width: 280px;
    }
  }
}
//========================================================================================================================================================
// building
.building-section {
  // .building-section__image
  &__image {
  }
  // .building-section__block
  &__block {
  }
  // .building-section__block-inner
  &__block-inner {
    .block-inner__image {
      width: 100%;
      height: 314px;
      @media (max-width: 1366px) {
        height: 217px;
      }
      @media (max-width: 1100px) {
        height: 377px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      margin-bottom: 12px;
    }
  }
  // .building-section__title
  &__title {
    margin-bottom: 12px;
  }
  // .building-section__date
  &__date {
    color: var(--textColor);
    margin-bottom: 12px;
  }
  // .building-section__text
  &__text {
  }
}
//========================================================================================================================================================
// contacts
.section-contacts {
  background-color: var(--bgColor);
  // .section-contacts__container
  &__container {
    padding: 150px 40px;
    @media (max-width: 1366px) {
      padding: 100px 40px;
    }
    @media (max-width: 1100px) {
      padding: 80px 24px;
    }
    @media (max-width: 520px) {
      padding: 50px 20px;
    }
    &.page-contacts {
      padding: 40px 40px 20px 40px;
    }
  }
  // .section-contacts__block
  &__block {
    display: flex;
    gap: 20px;
    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }
  // .section-contacts__inner
  &__inner {
    flex: 0 1 50%;
    display: flex;
    gap: 40px;
    @media (max-width: 520px) {
      flex-direction: column;
      gap: 32px;
    }
  }
  // .section-contacts__left
  &__left {
    flex: 0 1 50%;
  }
  // .section-contacts__group
  &__group {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  // .section-contacts__subtitle
  &__subtitle {
    font-size: 16px;
    line-height: 1.4;
    color: var(--textColor);
    margin-bottom: 8px;
    @media (max-width: 1366px) {
      font-size: 14px;
    }
    @media (max-width: 520px) {
      font-size: 12px;
    }
  }
  // .section-contacts__text
  &__text {
    display: block;
    font-size: 24px;
    line-height: 1.2;
    text-decoration-line: underline;
    @media (max-width: 1366px) {
      font-size: 20px;
    }
    @media (max-width: 1366px) {
      font-size: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  // .section-contacts__button
  &__button {
    margin-top: 20px;
  }
  // .section-contacts__social
  &__social {
    display: flex;
    gap: 20px;
  }
  // .section-contacts__right
  &__right {
    flex: 0 1 50%;
  }
  // .section-contacts__map
  &__map {
    flex: 0 1 50%;
    .map__body {
      width: 100%;
      height: 460px;
      @media (max-width: 1366px) {
        height: 400px;
      }
      @media (max-width: 1100px) {
        height: 455px;
      }
      @media (max-width: 520px) {
        height: 360px;
      }
    }
  }
}
