//========================================================================================================================================================
// description
.description-section {
  position: relative;
  height: 1260px;
  @media (max-width: 1366px) {
    height: 896px;
  }
  @media (max-width: 1100px) {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  // .description-section__image
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 700px;
      background: linear-gradient(180deg, #eef3f8 0%, rgba(238, 243, 248, 0) 100%);
    }
    @media (max-width: 1100px) {
      position: relative;
      height: auto;
      &::before {
        height: 280px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
  // .description-section__container
  &__container {
    padding: 150px 40px;
    display: flex;
    @media (max-width: 1366px) {
      padding: 100px 40px;
    }
    @media (max-width: 1100px) {
      background-color: var(--bgColor);
      flex-direction: column;
      padding: 80px 24px 20px 24px;
    }
    @media (max-width: 420px) {
      padding: 50px 20px 20px 20px;
    }
  }
  // .description-section__title
  &__title {
    flex: 0 1 50%;
    padding-right: 20px;
    margin-bottom: 40px;
    @media (max-width: 420px) {
      margin-bottom: 20px;
    }
    h2 {
      max-width: 415px;
      @media (max-width: 1100px) {
        max-width: 100%;
      }
    }
  }
  // .description-section__list
  &__list {
    flex: 0 1 50%;
  }
  // .description-section__block
  &__block {
  }
}

.description-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 24px;
  @media (max-width: 1366px) {
    font-size: 36px;
    row-gap: 16px;
  }
  @media (max-width: 420px) {
    column-gap: 12px;
  }
  // .description-list__item
  &__item {
    padding-bottom: 24px;
    &:not(:nth-last-child(-n + 2)) {
      border-bottom: 1px solid #c8bfbc;
    }
    @media (max-width: 1366px) {
      padding-bottom: 16px;
    }
  }
  // .description-list__amount
  &__amount {
    font-size: 48px;
    line-height: 1.3;
    margin-bottom: 8px;
    @media (max-width: 1366px) {
      font-size: 36px;
      margin-bottom: 4px;
    }
    @media (max-width: 420px) {
      font-size: 24px;
    }
    span {
      font-size: 20px;
      @media (max-width: 1366px) {
        font-size: 16px;
      }
      @media (max-width: 1366px) {
        font-size: 14px;
      }
    }
  }
  // .description-list__text
  &__text {
    font-size: 20px;
    line-height: 1.4;
    @media (max-width: 1366px) {
      font-size: 16px;
    }
    @media (max-width: 1366px) {
      font-size: 14px;
    }
  }
}
.description-block {
  position: absolute;
  top: 40%;
  left: 15%;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  background: var(--bgColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  z-index: 2;
  padding: 0;
  @media (max-width: 1366px) {
    width: 198px;
    height: 198px;
  }
  @media (max-width: 1100px) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  @media (max-width: 420px) {
    width: 170px;
    height: 170px;
  }
  &::after {
    content: '';
    position: absolute;
    width: 410px;
    height: 410px;
    top: center;
    left: center;
    border-radius: 50%;
    background-color: var(--bgColor);
    opacity: 0.5;
    z-index: -1;
    animation: descriptionPulse 2s infinite;
    @media (max-width: 1366px) {
      width: 280px;
      height: 280px;
    }
    @media (max-width: 420px) {
      width: 210px;
      height: 210px;
    }
  }
  // .description-block__year
  &__year {
    font-size: 48px;
    line-height: 1.3;
    @media (max-width: 1366px) {
      font-size: 36px;
    }
    @media (max-width: 420px) {
      font-size: 24px;
    }
    span {
      font-size: 20px;
      // @media (max-width: 420px) {
      //   font-size: 14px;
      // }
    }
  }
  // .description-block__text
  &__text {
    font-size: 20px;
    line-height: 1.4;
    @media (max-width: 1366px) {
      font-size: 16px;
    }
    @media (max-width: 420px) {
      font-size: 14px;
    }
  }
}