@font-face {
  font-family: 'Craftwork Grotesk';
  src: url('../fonts/CraftworkGrotesk-SemiBold.woff2') format('woff2'),
    url('../fonts/CraftworkGrotesk-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope-variablefont_wght-webfont.woff2') format('woff2'),
    url('../fonts/manrope-variablefont_wght-webfont.woff') format('woff');
  font-weight: light;
  font-style: normal;
}