$default-font: 'Craftwork Grotesk', sans-serif;
$default-font2: 'Manrope', sans-serif;
$fontSize: 14px;
:root {
  --mainColor: #262a40;
  --secondColor: #7487aa;
  --textColor: #7487aa;
  --textWhite: #c8bfbc;
  --bgColor: #eef3f8;
  --bgColorRed: #d4584d;
}

.section {
  display: flex;
  width: 100%;
  background-color: var(--bgColor);
  @media (max-width: 1100px) {
    flex-direction: column-reverse;
  }
  &.section-reverse {
    flex-direction: row-reverse;
    @media (max-width: 1100px) {
      flex-direction: column-reverse;
    }
  }
  // .section__image
  &__image {
    flex: 0 1 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .section__block
  &__block {
    flex: 0 1 50%;
    min-height: 415px;
    position: relative;
    @media (max-width: 1100px) {
      min-height: auto;
    }
  }
  // .section__block-inner
  &__block-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    @media (max-width: 1366px) {
      width: 415px;
    }
    @media (max-width: 1100px) {
      position: static;
      padding: 80px 24px;
      transform: translate(0, 0);
      padding-right: 24px;
      width: 100%;
    }
    @media (max-width: 420px) {
      padding: 50px 20px;
    }
  }
  &__text {
    margin-bottom: 40px;
    @media (max-width: 1366px) {
      margin-bottom: 32px;
    }
    p:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.title {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--mainColor);
  width: 755px;
  margin-bottom: 40px;
  &_white {
    color: var(--bgColor);
  }
  @media (max-width: 1366px) {
    font-size: 36px;
    width: 579px;
    margin-bottom: 20px;
  }
  @media (max-width: 620px) {
    width: 420px;
    font-size: 28px;
  }
  @media (max-width: 420px) {
    font-size: 24px;
  }
  @media (max-width: 520px) {
    width: 320px;
    font-size: 24px;
  }
}
.title-small {
  font-size: 32px;
  line-height: 1.3;
  text-transform: uppercase;
  @media (max-width: 1366px) {
    font-size: 28px;
  }
  @media (max-width: 520px) {
    font-size: 20px;
  }
}
.text {
  font-family: Craftwork Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
  color: var(--textColor);
  @media (max-width: 1366px) {
    font-size: 16px;
  }
  @media (max-width: 420px) {
    font-size: 14px;
  }
}

.button {
  display: inline-block;
  border-radius: 100px;
  padding: 24.5px 49.5px;
  color: var(--textWhite);
  background: var(--mainColor);
  font-family: Craftwork Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
  @media (any-hover: hover) {
    &:hover {
      color: #fff;
      background: var(--bgColorRed);
    }
  }
  @media (max-width: 1366px) {
    font-size: 12px;
    padding: 21px 41px;
  }
  &_red {
    background: var(--bgColorRed);
    color: var(--bgColor);
    @media (any-hover: hover) {
      &:hover {
        background: var(--mainColor);
        color: #fff;
      }
    }
  }
}

$mc2: #ff554c;
$mc3: #e5df06;
$mc4: #4f90b6;
$gray: rgb(135, 135, 151);
$text: #22223e;
$wc: #fff;
$bc: #000;
$bc2: #000;

$color-black: rgba(0, 0, 0, 1);
$color-blue: rgba(35, 43, 62, 1);
$color-white: rgba(255, 255, 255, 1);
$color-new-blue: rgba(0, 26, 88, 1);
$color-light-blue: rgba(77, 95, 139, 1);

$mc: $color-black;
$bg: $color-blue;
$light: $color-light-blue;
$dark: #1a2941;
$gold: #cfa46e;

:root {
  --in: cubic-bezier(0.13, 0.81, 0.23, 0.96);
  --header-h: 86px;
  --logo-w: 155px;
  --sliceFigure: 239px;
  --sliceFigure-big: 541px;

  --page-side-fields: 60px;
  --section-v-offset: 150px;
  --button-color: #001a58;
}

@media screen and (max-width: 1440px) {
  :root {
    --header-h: 90px;
    --logo-w: 120px;
    --sliceFigure-big: 362px;
    --section-v-offset: 100px;
  }
}

@media screen and (max-width: 992px) {
  :root {
    --header-h: 110px;
    --logo-w: 90px;
    --sliceFigure-big: 44px;
  }
}
@media screen and (max-width: 576px) {
  :root {
    --header-h: 70px;
    --sliceFigure: 100px;
    --sliceFigure-big: 100px;
  }
}

.tablet {
  --page-side-fields: 20px;
  --section-v-offset: 50px;
  --header-h: 80px;
  .page__inner {
    max-width: 100vw;
    overflow: hidden;
  }
}

.mobile {
  --page-side-fields: 10px;
  --section-v-offset: 50px;
  --header-h: 55px;
  .page__inner {
    max-width: 100vw;
    overflow: hidden;
  }
}

:root {
  --color-black: rgba(0, 0, 0, 1);
  --color-blue: rgba(35, 43, 62, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-new-blue: rgba(0, 26, 88, 1);
  --color-light-blue: rgba(77, 95, 139, 1);
  --color-gray-bg: #e6ecf2;
}

$color-white: rgba(255, 255, 255, 1);
$color-gray: rgba(63, 63, 63, 1);
$color-black: rgba(28, 29, 34, 1);
$color-green: rgba(122, 144, 73, 1);
$color-gray-body: rgba(97, 97, 97, 1);
$color-red: rgba(211, 7, 36, 1);
$color-gray-light: rgba(210, 210, 211, 1);
$color-gray-bg: #e6ecf2;

.text-white {
  color: $color-white;
}

.text-blue {
  color: $color-blue;
}
.text-new-blue {
  color: $color-new-blue;
}

.text-gray {
  color: rgba(63, 63, 63, 1);
}
.text-black {
  color: rgba(28, 29, 34, 1);
}
.text-green {
  color: rgba(122, 144, 73, 1);
}
.text-gray-body {
  color: rgba(97, 97, 97, 1);
}
.text-red {
  color: rgba(211, 7, 36, 1);
}
.text-gray-light {
  color: rgba(210, 210, 211, 1);
}

.text-style-h-1 {
  font-size: 3vw;
  font-family: $default-font, sans-serif;
  font-weight: 700;
  line-height: 100%;
}

.text-style-h-1-important {
  font-size: 3vw;
  font-family: $default-font, sans-serif;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none !important;
  text-transform: none !important;
}

.tablet {
  .text-style-h-1-important,
  .text-style-h-1 {
    font-size: 48px !important;
  }
}
.mobile {
  .text-style-h-1-important,
  .text-style-h-1 {
    font-size: 28px !important;
  }
}
.text-style-h-3 {
  font-size: 1.2vw;
  font-family: $default-font, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  // letter-spacing: -0.03em;
  text-decoration: none;
  text-transform: none;
}

.text-style-h-3-important {
  font-size: 2.08vw !important;
  font-family: 'Arial', sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  line-height: 120% !important;
  // letter-spacing: -0.03em !important;
  text-decoration: none !important;
  text-transform: none !important;
}

.mobile,
.tablet {
  .text-style-h-3-important,
  .text-style-h-3 {
    font-size: 18px !important;
  }
}

.text-style-h-4 {
  font-size: 0.707vw;
  font-family: $default-font, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;
  // letter-spacing: -0.03em;
  text-decoration: none;
  text-transform: none;
}

.text-style-h-4-important {
  font-size: 0.707vw !important;
  font-family: $default-font, sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
  line-height: 140% !important;
  // letter-spacing: -0.03em !important;
  text-decoration: none !important;
  text-transform: none !important;
}

.mobile,
.tablet {
  .text-style-h-4-important,
  .text-style-h-4 {
    font-size: 14px !important;
  }
}

.text-style-body {
  font-size: 0.93vw;
  font-family: $default-font, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;
  text-decoration: none;
  text-transform: none;
}
.text-style-body-important {
  font-size: 0.83vw !important;
  font-family: 'Arial', sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  line-height: 140% !important;
  // letter-spacing: -0.03em !important;
  text-decoration: none !important;
  text-transform: none !important;
}

@mixin text-style-h-1() {
  font-size: 3vw;
  font-family: $default-font, sans-serif;
  font-weight: 700;
  line-height: 100%;
}
@mixin text-style-h-3() {
  font-size: 1.25vw;
  font-family: $default-font, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  // letter-spacing: -0.03em;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-h-4() {
  font-size: 1.04vw;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  letter-spacing: -0.03em;
  text-decoration: none;
  text-transform: none;
}
@mixin text-style-body() {
  font-size: 0.93vw;
  font-family: $default-font, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;
  text-decoration: none;
  text-transform: none;
}
