include ../includes/mixins.pug
-
  var pagesLink = [
  {
  home: '/',
  characteristics: './characteristics.html',
  contacts: './contacts.html',
  terrace: './terrace.html'
  }
  ];
block variable
doctype html
html(lang="en" data-status="local")
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- <link rel="shortcut icon" href="./static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="./static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    block meta
    block head

  body(class= class_page id= id_page)
    // START SVG SPRITE
    //- include ../../assets/svg-sprite/sprite/symbol_sprite.php
    // END SVG SPRITE
    // START LOADER
    include ../includes/loader.html
    // END LOADER
    // START POPUP MODAL
    //- include ../includes/popup.pug
    include ../includes/form-wrapper.pug
    include ../includes/mobile-callback-popup.pug
    include ../includes/popup-thank.pug
    // END POPUP MODAL
    // START MENU
    include ../includes/menu.pug
    // END MENU

    // -------
    // -------
    // -------
    // -------
    .toast-wrapper(data-toast-wrapper)
    // START HEADER
    block header
    // END HEADER
    .page__inner(data-scroll-container)
      .page__content
        block content

      //.page__footer-wrapper
        // START FOOTER
      block footer
        // END FOOTER
    block scripts
